.grid-row button {
  font-size: 0;
  margin: 0;
  padding: 0;

  cursor: pointer;
  transition: border-color 0.25s;
  border-radius: 3px;
  aspect-ratio: 1 / 1;
  width: 6.5%;
}

.start {
  background-color: aliceblue;
}

.end {
  background-color: purple;
}

.wall {
  background-color: red;
}

.path {
  background-color: yellow;
}

.traveled {
  background-color: orange;
}